body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #239ac2;
}

.birthdaycard {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
}

.birthdaycard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2), 0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdaycard:hover .CardFront{
    transform: rotateY(-160deg);
}

.birthdaycard:hover .Happy {
    visibility: hidden;
}

.CardFront{
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba( 0, 0, 0, 0.2), 30px 0 50px rgba(0, 0, 0, 0.4);
    transition: 0.6s;

}

.Happy{
    font-family: tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    background-image: linear-gradient(120deg, #ffd856 0%, #f98c6e 100%);
    transition: 0,1s;
}

.Balloons {
    position: absolute;
}

.Balloons-1,
.Balloons-2,
.Balloons-3,
.Balloons-4{
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
}

.Balloons-1{
    background-color: yellow;
    left: -10px;
    top: 50px;
}
.Balloons-2{
    background-color: orange;
    left: 50px;
    top: 20px;
}
.Balloons-3{
    background-color: yellowgreen;
    left: 110px;
    top: 50px;
}
.Balloons-4{
    background-color:blue;
    left: 170px;
    top: 50px;
}

.Balloons-1::before,
.Balloons-2::before,
.Balloons-3::before,
.Balloons-4::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 155px;
    background-color: #ffc848;
    top: 95px;
    left: 43px;
}
.Balloons-1::after,
.Balloons-2::after,
.Balloons-3::after,
.Balloons-4::after{
    content: "";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
}
.Balloons-1::after{
    border-bottom: 10px solid yellow;
}

.Balloons-2::after{
    border-bottom: 10px solid orange;
}

.Balloons-3::after{
    border-bottom: 10px solid yellowgreen;
}

.Balloons-4::after{
    border-bottom: 10px solid blue;
}
 
.cardinside{
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 350px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, );
    
}

 p{
    font-family: "Brush sript MT",cursive;
    margin: 40px;
    color: #333;
 }

 .name{
    position: absolute;
    left: 150px;
    top: 200px;
    color: #333;
 }
 .back{
    font-family: tahoma, sans-serif;
    color: #333;
    text-align: center;
    margin: 30px;
    outline-color: #333;
    outline-style: dotted;
 }




